[user]
    name = Dawei Wei
    email = davwei@microsoft.com

[core]
    editor = vim

[color]
    ui = auto
[color "diff"]
    meta = yellow
    func = cyan
[grep]
    lineNumber = true
    extendedRegexp = true

[credential]
    helper = store

[include]
  path = gitalias.txt

[alias]
    logs = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(magenta)%d%Creset %s %Cgreen(%cr) %C(bold cyan)<%an>%Creset' --abbrev-commit --date=relative

[diff]
    tool = bc4

[difftool]
    prompt = false

[difftool "kdiff3"]
    cmd = \"C:/Program Files/KDiff3/kdiff3\" $LOCAL $REMOTE

[difftool "code"]
    cmd = code --wait --diff $LOCAL $REMOTE

[difftool "bc4"]
    cmd = \"C:/Program Files/Beyond Compare 4/BComp.exe\" $LOCAL $REMOTE

[merge]
    tool = bc4

[mergetool "kdiff3"]
    cmd = \"C:/Program Files/KDiff3/kdiff3.exe\" $BASE $LOCAL $REMOTE -o $MERGED
    trustExitCode = false
    keepBackup = false

[mergetool "bc4"]
    cmd = \"C:/Program Files/Beyond Compare 4/BComp.exe\" $LOCAL $REMOTE $BASE $MERGED
